<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
    <meta name="viewport" content="width=1300">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>gantt-init-draft</title>
  </head>
  <body style="
    margin: 0; 
    padding: 5px; 
    background: #333; 
    color: #ccc; 
    font-family: sans-serif;
    font-size: 13px;
    touch-action: manipulation;
  ">
    <noscript>
      <strong>We're sorry but gantt-init-draft doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
