<template>
  <div class="gantt-component">
    <div class="gantt-chart-wrapper">
      <div class="gantt-chart" v-if="showGantt">
        <div class="resources-container">
          <div class="resource empty"></div>
          <div class="resource"
            v-for="resource in resources"
            :key="resource.id"
          >{{ resource.title }}</div>
        </div>
        <div class="container" 
          ref="container"
          @mousemove.prevent="onMouseMove"
          @mousedown.left.prevent="onMouseDown"
          @mouseup.prevent="onMouseUp"
          @mouseleave.prevent="onMouseLeave"
          @mousewheel.ctrl.prevent="onMouseWheel"
          @dblclick.prevent.stop="onDblClick"
        >
          <div class="time-line">
            <div class="time-stamp time-label"
              v-for="timeStamp in timeStamps"
              :key="timeStamp.timeStamp"
              :style="{ left: timeStamp.initialLeft + left + 'px' }"
            >{{ timeStamp.formatted }}</div>
          </div>

          <div class="inner" v-if="hasMounted" :class="{ 'task-selected': taskSelected }">
            
            <div class="grid-line" 
              v-for="line in gridLines" 
              :key="line.timeStamp"
              :style="{ 
                left: line.initialLeft + left + 'px', 
                top: line.top + top + 'px',
                background: line.top === -12 ? 'rgba(255,255,255,0.15)' : null }"
            ></div>

            <div class="grid-horizontal-line"
              v-for="(resource, index) in resources"
              :key="resource.id"
              :style="{ top: 50 * index + 30 + 'px' }"
            ></div>

            <div class="item" :class="{ 'selected': taskSelected === task }"
              v-for="task in visibleTasks" 
              :key="task.id"
              :style="{
                left: task.initialLeft + left + 'px', 
                top: task.top + top + 10 + 'px', 
                width: task.width + 'px' }"
              :title="task.title"
              @dblclick.prevent.stop="onItemDblClick(task)"
              @mousedown.middle.prevent.stop="onItemMouseMiddleClick(task)"
            >{{ task.title }}</div>

            <!-- <div class="item selected" v-if="taskSelected"
              :style="{
                left: taskSelected.initialLeft + left + 'px', 
                top: taskSelected.top + top + 10 + 'px', 
                width: taskSelected.width + 'px' }"
              :title="taskSelected.title"
              @dblclick.prevent.stop
            >{{ taskSelected.title }}</div> -->

          </div>
        </div>
      </div>
    </div>

    <br>
    <span class="tooltip">
      To zoom in/out use mouse wheel while holding CTRL.
      Double click to highlight task.
      Middle mouse click to delete task.
    </span>
    <br>
    <br>

    <div class="wrapper">
      <button @click="addTask">Add task</button>
      <button @click="add20Tasks">Add 20 tasks</button>
      <button @click="tasks = [], taskSelected = null">Remove all tasks</button>
      <button @click="remount">Refresh</button>
      <button @click="zoomIn">Zoom In</button>
      <button @click="zoomOut">Zoom Out</button>
      <button @click="moveLeft">Move Left</button>
      <button @click="moveRight">Move Right</button>
    </div>

    <br>

    <div class="wrapper">
      <span>total number of rendered items: 
        {{ visibleTasks.length + resources.length * 2 +  gridLines.length + timeStamps.length }}
      </span>
      <span>visibleTasks.length: {{ visibleTasks.length }}</span>
      <span>tasks.length: {{ tasks.length }}</span>
      <span>gridLines.length: {{ gridLines.length }}</span>
      <span>timeStamps.length: {{ timeStamps.length }}</span>
    </div>

    <div class="wrapper">
      <span class="faded">computableStart: {{ computableStart }}</span>
      <span>visibleStart: {{ visibleStart }}</span>
      <span>visibleEnd: {{ visibleEnd }}</span>
      <span class="faded">computableEnd: {{ computableEnd }}</span>
    </div>

    <div class="wrapper">
      <span class="faded">computableStart: {{ (new Date(computableStart)).toLocaleString() }}</span>
      <span>visibleStart: {{ (new Date(visibleStart)).toLocaleString() }}</span>
      <span>visibleEnd: {{ (new Date(visibleEnd)).toLocaleString() }}</span>
      <span class="faded">computableEnd: {{ (new Date(computableEnd)).toLocaleString() }}</span>
    </div>

    <div class="wrapper">
      <span>visibleDurationInMs: {{ visibleDurationInMs }}</span>
      <span>visibleDuration: {{ visibleDuration }}</span>
      <span class="faded">computableDurationInMs: {{ computableDurationInMs }}</span>
      <span class="faded">computableDuration: {{ computableDuration }}</span>
    </div>

    <div class="debug">
      <pre>{{ test }}</pre>
      <button v-if="debugMsg" @click="debugMsg = ''">clear debug log</button>
      <pre>{{ debugMsg }}</pre>
    </div>

    <!-- FOR TOUCH SUPPORT
      <div class="container" 
        ref="container"
        @touchmove.prevent="onMouseMove"
        @touchstart.prevent="onMouseDown"
        @touchend.prevent="onMouseUp"
        @touchcancel.prevent="onMouseLeave"
        @mousewheel.ctrl.prevent="onMouseWheel"
      >
     -->
    
  </div>
</template>


<script>
import moment from 'moment'

export default {
  name: 'Gantt',
  data() {
    return {
      title: 'Move me',
      test: null,
      debugMsg: '',
      showGantt: true,
      oldCoords: {
        x: null,
        y: null,
      },
      oldLeft: 0,
      left: 0,
      oldTop: 0,
      top: 30,
      dragging: false,
      taskSelected: null,
      gridLines: [],
      timeStamps: [],
      tasks: [],
      resources: [
        {
          id: 0,
          title: 'resource 0',
        },
        {
          id: 1,
          title: 'resource 1',
        },
        {
          id: 2,
          title: 'resource 2',
        },
        {
          id: 3,
          title: 'resource 3',
        },
        {
          id: 4,
          title: 'resource 4',
        },
        {
          id: 5,
          title: 'resource 5',
        }
      ],
      possibleTimeStamps: [
        moment.duration(1, 's'),
        moment.duration(2, 's'),
        moment.duration(3, 's'),
        moment.duration(5, 's'),
        moment.duration(6, 's'),
        moment.duration(10, 's'),
        moment.duration(20, 's'),
        moment.duration(30, 's'),
        moment.duration(1, 'm'),
        moment.duration(2, 'm'),
        moment.duration(3, 'm'),
        moment.duration(5, 'm'),
        moment.duration(6, 'm'),
        moment.duration(10, 'm'),
        moment.duration(20, 'm'),
        moment.duration(30, 'm'),
        moment.duration(1, 'h'),
        moment.duration(2, 'h'),
        moment.duration(3, 'h'),
        moment.duration(4, 'h'),
        moment.duration(6, 'h'),
        moment.duration(12, 'h'),
        moment.duration(1, 'd'),
        moment.duration(2, 'd'),
        moment.duration(3, 'd'),
        moment.duration(5, 'd'),
        moment.duration(6, 'd'),
        moment.duration(10, 'd'),
        moment.duration(1, 'M'),
        moment.duration(2, 'M'),
        moment.duration(3, 'M'),
        moment.duration(4, 'M'),
        moment.duration(6, 'M'),
        moment.duration(1, 'y'),
      ],
      oldVisibleStart: null,
      oldVisibleEnd: null,
      visibleStart: null,
      visibleEnd: null,
      computableStart: null,
      computableEnd: null,
      containerWidthPx: null,
      msPerPx: null,
      hasMounted: false,
      visibleDurationInMs: null,
      computableDurationInMs: null,
    }
  },
  computed: {
    visibleTasks() {
      return this.tasks
        .filter(task => (task.end > this.computableStart) && (task.start < this.computableEnd))
        .sort((a, b) => a.start - b.start) // all overlapping tasks now visible and selectable
    },
    visibleDuration() {
      const duration = moment.duration(this.visibleDurationInMs)
      return (
        duration.years() + 'y ' + 
        duration.months() + 'M ' + 
        duration.days() + 'd ' + 
        duration.hours() + 'h ' + 
        duration.minutes() + 'm ' + 
        duration.seconds() + 's')
    },
    computableDuration() {
      const duration = moment.duration(this.computableDurationInMs)
      return (
        duration.years() + 'y ' + 
        duration.months() + 'M ' + 
        duration.days() + 'd ' + 
        duration.hours() + 'h ' + 
        duration.minutes() + 'm ' + 
        duration.seconds() + 's')
    },
  },
  methods: {
    onMouseDown(e) {
      // e = e.changedTouches[0] // to support touches. use .identifier
      this.oldCoords.x = e.pageX
      this.oldCoords.y = e.pageY
      this.oldLeft = this.left
      this.oldTop = this.top

      this.oldVisibleStart = this.visibleStart
      this.oldVisibleEnd = this.visibleEnd

      this.dragging = true
    },
    onMouseMove(e) {
      if (!this.dragging) return
      // e = e.changedTouches[0] // to support touches. use .identifier
      this.left = this.oldLeft - this.oldCoords.x + e.pageX
      // this.top = this.oldTop - this.oldCoords.y + e.pageY

      this.visibleStart = this.oldVisibleStart - ((e.pageX - this.oldCoords.x) * this.msPerPx)
      this.visibleEnd = this.visibleStart + this.visibleDurationInMs

      const startsDiff = this.visibleStart - this.computableStart
      const startsAreTooClose = startsDiff < this.visibleDurationInMs / 2
      const endsDiff = this.computableEnd - this.visibleEnd
      const endsAreTooClose = endsDiff < this.visibleDurationInMs / 2
      const computableNeedUpdate = startsAreTooClose || endsAreTooClose

      if (computableNeedUpdate) {
        this.computableStart = this.visibleStart - this.visibleDurationInMs
        this.computableEnd = this.visibleEnd + this.visibleDurationInMs
        this.recreateTimeStamps()
        this.recreateGridLines()
      }

    },
    onMouseUp(e) {
      this.dragging = false
      // this.updateAll() // do this every Nth time as this.left gets very big if
      // you move sceen with mouse very far to the left/right
    },
    onMouseLeave(e) {
      this.dragging = false
    },
    onMouseWheel(e) {
      if (e.deltaY < 0) {
        this.zoomIn()
      } else {
        this.zoomOut()
      }
    },
    addTask() {
      const start = this.computableStart + Math.random() * 2.5 * this.visibleDurationInMs
      const end = start + this.visibleDurationInMs * Math.random()
      const randomResourceIndex = Math.floor( Math.random() * this.resources.length)
      const randomResource = this.resources[randomResourceIndex]
      this.tasks.push({
        id: (new Date()).getTime() + '' + Math.random(),
        resourceId: randomResource.id,
        start,
        startDate: moment(start).toDate(),
        end,
        endDate: moment(end).toDate(),
        title: (new Date(start)).toLocaleString() + ' - ' + (new Date(end)).toLocaleString(),
        width: (end - start) / this.msPerPx,
        initialLeft: ((start - this.visibleStart) / this.msPerPx) - this.left,
        top: randomResourceIndex * 50,
      })
    },
    add20Tasks() {
      let i = 20
      while(i--) this.addTask()
    },
    recreateGridLines() {
      const gridLines = []
      const start = moment(this.computableStart)
      const end = moment(this.computableEnd)
      const visibleMs = this.visibleDurationInMs

      const maximumVisibleGridLines = 24

      const possibleGridLiness = this.possibleTimeStamps

      const idealMsPerGridLines = visibleMs / maximumVisibleGridLines
      let humanFriendlyMsPerGridLine = 999999999 
      for (let i = 0; i < possibleGridLiness.length; i++) {
        if (idealMsPerGridLines <= possibleGridLiness[i]) {
          humanFriendlyMsPerGridLine = possibleGridLiness[i]
          break
        }
      }

      const current = moment(+start - (+start % humanFriendlyMsPerGridLine))

      while(current.isBefore(end)) {
        const correspondingTimeStamp = this.timeStamps.find(timeStamp => timeStamp.timeStamp === current.valueOf())
        let top = correspondingTimeStamp ? -12 : 0
        gridLines.push({
          timeStamp: current.valueOf(),
          time: current.toDate(),
          initialLeft: ((current.valueOf() - this.visibleStart) / this.msPerPx) - this.left,
          top: top,
        })
        current.add(humanFriendlyMsPerGridLine)
      }

      // If I use css '* {transition: all 0.2s}',
      // I've got smooth transitions when clicking 'Move Left' / 'Zoom Out',
      // and sometimes no transition when clicking 'Move Right' / 'Zoom In'.
      // It happens when this.computableStart.day() increases.
      // I think it's because in this case Vue replaces DOM elements
      // rather than effectively change content of old ones in-place.
      // All the same happens with rendering some of tasks.
      // To solve the problem, try:
      // 1. not pass new array but rather mutate old one
      // 2. switching to computed property may help
      // 3. use 'gridLines.reverse()' here
      //    if start.startOf('day') > than previous one
      // UPD: pushing old items to new array did not help :(
      // UPD: wrapping elements into <transition> HELPED (!)
      //      looks like such elements are more impontant to Vue
      //      to reuse them then to replace - makes sense
      //      Though I'll try to find another, more efficient way

      this.gridLines = gridLines
    },
    recreateTimeStamps() {
      const timeStamps = []
      const start = moment(this.computableStart)
      const end = moment(this.computableEnd)
      const visibleMs = this.visibleDurationInMs

      const maximumVisibleTimeStamps = 8

      const possibleTimeStamps = this.possibleTimeStamps

      const idealMsPerTimeStamp = visibleMs / maximumVisibleTimeStamps
      let humanFriendlyMsPerTimeStamp = 999999999 
      for (let i = 0; i <= possibleTimeStamps.length; i++) {
        if (idealMsPerTimeStamp < possibleTimeStamps[i]) {
          humanFriendlyMsPerTimeStamp = possibleTimeStamps[i]
          break
        }
      }

      const current = moment(+start - (+start % humanFriendlyMsPerTimeStamp))

      while(current.isBefore(end)) {
        timeStamps.push({
          timeStamp: current.valueOf(),
          time: current.toDate(),
          formatted: current.toDate().toLocaleString(),
          initialLeft: ((current.valueOf() - this.visibleStart) / this.msPerPx) - this.left
        })
        current.add(humanFriendlyMsPerTimeStamp)
      }

      this.timeStamps = timeStamps
    },
    zoomIn() {
      if (this.visibleDurationInMs < +moment.duration(20, 'seconds')) return // too close => browser-related render errors
      const newStart = this.visibleStart + this.visibleDurationInMs / 6
      const newEnd = this.visibleEnd - this.visibleDurationInMs / 6
      this.setNewStartAndEnd(newStart, newEnd)
    },
    zoomOut() {
      if (this.visibleDurationInMs > +moment.duration(1, 'year')) return // too far => too many items to render
      // attention: if you zoom out to maximum, create 20 tasks, and then
      // zoom in to maximum, almost all of them disappear due to too large numbers in their style attrs
      const newStart = this.visibleStart - this.visibleDurationInMs / 4
      const newEnd = this.visibleEnd + this.visibleDurationInMs / 4
      this.setNewStartAndEnd(newStart, newEnd)
    },
    moveLeft() {
      // TODO: add throttling!
      const newStart = this.visibleStart - this.visibleDurationInMs / 4
      const newEnd = this.visibleEnd - this.visibleDurationInMs / 4
      this.setNewStartAndEnd(newStart, newEnd)
    },
    moveRight() {
      // TODO: add throttling!
      const newStart = this.visibleStart + this.visibleDurationInMs / 4
      const newEnd = this.visibleEnd + this.visibleDurationInMs / 4
      this.setNewStartAndEnd(newStart, newEnd)
    },
    setNewStartAndEnd(startMs, endMs) {
      this.visibleStart = startMs
      this.visibleEnd = endMs
      this.updateAll()
    },
    updateAll() {
      this.visibleDurationInMs = this.visibleEnd - this.visibleStart
      this.msPerPx = (this.visibleEnd - this.visibleStart) / this.containerWidthPx
      this.left = 0

      this.tasks.forEach(task => {
        task.width = (task.end - task.start) / this.msPerPx
        task.initialLeft = (task.start - this.visibleStart) / this.msPerPx
        task.startDate = new Date(task.start)
        task.endDate = new Date(task.end)
      })

      this.computableStart = this.visibleStart - this.visibleDurationInMs
      this.computableEnd = this.visibleEnd + this.visibleDurationInMs
      this.computableDurationInMs = this.computableEnd - this.computableStart

      this.recreateTimeStamps()
      this.recreateGridLines()
    },
    onDblClick() {
      this.taskSelected = null
    },
    onItemDblClick(task) {
      this.taskSelected = task
    },
    onItemMouseMiddleClick(task) {
      this.tasks.splice(this.tasks.indexOf(task), 1)
    },
    remount() {
      this.showGantt = false
      setTimeout(() => this.showGantt = true, 500)
    },
    debug(msg) {
      try {
        this.debugMsg += '\n' + JSON.stringify(msg, null, 2)
      } catch(e) {
        this.debugMsg += '\n' + msg
      }
    },
  },
  mounted() {
    this.visibleStart = moment().subtract(0, 'hours').toDate().getTime()
    this.visibleEnd = moment(this.visibleStart).add(24, 'hours').toDate().getTime()
    this.computableStart = moment().subtract(24, 'hours').toDate().getTime()
    this.computableEnd = moment().add(48, 'hours').toDate().getTime()

    this.containerWidthPx = this.$refs['container'].offsetWidth
    this.updateAll()
    this.hasMounted = true
  },
}


</script>



<style lang="sass">

*
  // transition: all 0.9s
  // outline: 1px solid rgba(white, 0.1)

.gantt-component
  padding-top: 10px
  overflow: hidden

.gantt-chart-wrapper
  height: 330px

.gantt-chart
  display: flex
  margin: auto
  width: 1200px
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.33)

.resources-container
  display: flex
  flex-direction: column

.resource
  display: flex
  justify-content: center
  align-items: center
  width: 100px
  height: 50px
  font-size: 11px
  color: rgba(white, 0.7)
  text-transform: uppercase
  border-top: 1px solid rgba(white, 0.1)
  // border-right: 1px solid rgba(white, 0.1)
  &.empty
    height: 30px
    border-top: none
    // border-right: none
    

.container
  width: 1100px
  height: 330px
  position: relative
  overflow: hidden
  user-select: none

.time-line
  height: 30px

.time-stamp
  display: block
  // height: 30px
  padding: 3px 5px
  position: absolute
  background: rgba(white, 0.05)
  border-radius: 1px
  // border-left: 1px solid rgba(white, 0.15)
  color: rgba(white, 0.45)
  font-size: 11px
  white-space: nowrap
  transform: translateX(-50%)
  transition: background 0.2s, color 0.2s
  &:hover
    background: rgba(white, 0.1)
    color: rgba(white, 0.55)
  
.inner
  height: 300px

.grid-line
  display: block
  height: 100%
  width: 1px
  position: absolute
  background: rgba(white, 0.09)

.grid-horizontal-line
  display: block
  width: 100%
  height: 1px
  position: absolute
  background: rgba(white, 0.07)

.item
  display: block
  height: 30px
  line-height: 30px
  position: absolute
  background: rgba(teal, 0.5)
  border: 1px solid rgba(teal, 0.8)
  border-radius: 1px
  padding: 0px 8px
  font-size: 12px
  color: rgba(white, 0.55)
  text-align: center
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  transition: background 0.2s, color 0.2s, opacity 0.2s
  &:hover
    color: rgba(white, 0.75)
    background: rgba(teal, 0.75)

.inner.task-selected .item
  opacity: 0.1
  &.selected
    opacity: 1

.wrapper
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  width: 1200px
  margin: auto
  padding: 10px
  & + .wrapper
    border-top: 1px solid rgba(white, 0.1)

.debug
  width: 1200px
  margin: auto

.tooltip
  display: block
  text-align: center
  color: rgba(white, 0.2)

.faded
  color: rgba(white, 0.4)

.gantt-component button
  padding: 5px 10px
  background: rgba(white, 0.2)
  border: 1px solid rgba(white, 0.3)
  color: rgba(white, 0.7)
  text-transform: uppercase
  transition: all 0.2s
  &:hover
    background: rgba(white, 0.3)
    border: 1px solid rgba(white, 0.4)
    color: rgba(white, 0.9)

</style>
