<template>
  <div id="app">
    <gantt></gantt>
  </div>
</template>


<script>
import Gantt from './components/Gantt.vue'

export default {
  name: 'App',
  components: {
    Gantt
  }
}
</script>


<style lang="sass">

*
  box-sizing: border-box
  // outline: 1px solid rgba(white, 0.2)



</style>
